*{
   height: fit-content;
   width: fit-content;
   position: relative;
}
#parent{
   position: absolute;
   top: 12vh;
   left: 12vw;
}
.cards{
   position: absolute;
   height: 36vh;
   width: 33vw;
   border-radius: 15px;
   transition: 0.2s;
}
#front{
   background-image: url(./images/cardImg.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 110% 110%;
}
#logos{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 30px;
   margin-left: 50px;
   background-color: transparent;
}
#d1{
   height: 50px;
   width: 50px;
   background-color: #d2cccc;
   border-radius: 50%;
   margin-right: 10px;
}
#d2{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   border: #d2cccc solid 3px;
   background-color: transparent;
}
#details{
   height: 40%;
   width: 100%;
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Roboto', sans-serif;
   justify-content: space-evenly;
   letter-spacing: 2px;
   color: #d2cccc;
   background-color: transparent;
}
#data{
   width: 100%;
   display: flex;
   margin-top: 20px;
   flex-direction: row;
   justify-content: space-around;
   background-color: transparent;
}
h1{
   margin: 0;
   background-color: transparent;
   letter-spacing: 3px;
   font-size: 35px;
}
#data h3{
   margin: 0;
   background-color: transparent;
}

#front:hover{
   top: -1vh;
   left: 1vw;
   box-shadow: rgba(118, 2, 251, 0.4) -5px 5px, rgba(113, 102, 192, 0.847) -10px 10px, rgba(138, 143, 249, 0.2)-15px 15px;
}
#rear:hover{
   top: 38vh;
   left: 8vw;
   box-shadow: rgba(171, 173, 182, 0) -5px 5px, rgba(158, 164, 170, 0.847) -10px 10px, rgba(114, 115, 117, 0.2) -15px 15px;
}
#rear{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   top: 40vh;
   left: 7vw;
   background-color: #aea7a7;
}
#label{
   margin-top: 2.5%;
   height: 20%;
   width: 100%;
   background-color: rgb(42, 39, 39);
}
#cvc-block{
   border-radius: 7px;
   background-color: #6e6767;
   direction: rtl;
   height: 15%;
   width: 70%;
}
#cvc-block h3{
   font-size: 25px;
   margin-top: 1%;
   margin-right: 5%;
   padding: 0;
   color: #eae4e4;
   background-color: #6e6767;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 2px;
   
}
#third{
   height: 30%;
   width: 40%;
   margin-bottom: 5%;
   background-color: transparent;
}
#third h3{
   text-align: center;
   font-size: 25px;
   margin: 0;
   padding: 0;
   color: #eae4e4;
   background-color: transparent;
   font-family: 'Roboto', sans-serif;
   letter-spacing: -2px;
   line-height: 25px;
}