#body{
   height: 10vh;
   width: 25vw;
   background-color: #4BB543;
   position: absolute;
   top: 80vh;
   left: 74vw;
   opacity: 90%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
#main{
   text-align: center;
}
#main h2{
   font-size: 22px;
   background-color: #4BB543;
   color: #000;
}
#icon{
   height: 100%;
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #4BB543;
}
.material-symbols-outlined {
   background-color: transparent;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}